.card-img-info {
    align-self: center!important;
    height: inherit;
    width: auto!important;
}

.movie-info-container {
    background-color: #000000;
}

.movie-info-content {
    text-align: left;
    margin-top: -50px;
    background: white;
}


*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    background-color: #dce1e5;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #cfd6e1;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
  }
  
  * {
    transition: 0.4s;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    font-family: inherit;
    border: 0;
    cursor: pointer;
  }
  button:focus {
    outline: 0;
  }
  
  .movie-card {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 300px;
    display: block;
    margin: 8vh auto;
    border-radius: 8px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  @media screen and (max-width: 800px) {
    .movie-card {
      width: 95%;
      max-width: 95%;
    }
  }
  @media screen and (max-width: 600px) {
    .movie-card {
      background-position: 50% 0%;
      background-size: cover;
      height: 400px;
    }
  }
 
  .movie-card__overlay {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  @media screen and (max-width: 600px) {
    .movie-card__overlay {
      background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    }
  }
  .movie-card__share {
    padding: 1em;
    display: inline-block;
    width: 100%;
    max-width: 130px;
  }
  @media screen and (max-width: 600px) {
    .movie-card__share {
      display: block;
      width: 100%;
    }
  }
  .movie-card__icon {
    color: #ffffff;
    mix-blend-mode: lighten;
    opacity: 0.4;
    background: none;
    padding: 0;
  }
  .movie-card__icon:hover {
    opacity: 1;
    mix-blend-mode: lighten;
  }
  .movie-card__icon:not(:first-of-type) {
    margin-left: 5px;
  }
  .movie-card__icon i {
    font-size: 1.2em;
  }
  .movie-card__content {
    width: 100%;
    max-width: 370px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    float: right;
    padding-right: 1.2em;
    padding-bottom: 1em;
  }
  @media screen and (max-width: 1000px) {
    .movie-card__content {
      width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .movie-card__content {
      margin-top: 4.2em;
      width: 100%;
      float: inherit;
      max-width: 100%;
      padding: 0 1em 1em;
    }
  }
  .movie-card__header {
    margin-bottom: 2em;
  }
  .movie-card__title {
    color: #ffffff;
    margin-bottom: 0.25em;
    opacity: 0.75;
    font-size: 20px;
  }
  .movie-card__info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    color: #2a9fff;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    opacity: 0.5;
  }
  .movie-card__desc {
    font-weight: 300;
    opacity: 0.84;
    margin-bottom: 2em;
    color: #ffffff;
  }
  
  h1, h2, h3 {
    font-family: "Montserrat", helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 400;
  }
  
  .movie-card-list .btn {
    padding: 0.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }
  
  .btn-outline {
    background-color: transparent;
    border: 3px solid #ffffff;
  }
  
  .movie-card-list .btn::before {
    vertical-align: middle;
    font-size: 1.5em;
    padding-right: 0.5em;
  }
  
  .btn-outline:hover {
    border-color: #2a9fff;
    color: #2a9fff;
    box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
  }

  #movie-card-list .btn-circle {
    width: 45px;
    height: 45px;
  }

  #movie-card-list {
    height: 600px;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.rate-section {

  background-color: #ffffff;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}