.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    position: absolute;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    z-index: 100;
  }
  .btn-circle.btn-lg {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 30px;
    background-color: #8f0a0a;
    border-color: #8f0a0a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

 .movie-item .card {
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

 .text-left {
  text-align: left;
 }

 .p-height {
   height: 35px;
 }

 .movie-item img {
   height: 450px;
 }