body > #root > div {
  height: 100vh;
 
}

html {
  background: rgb(2,0,36);
  background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(8,11,42,1) 47%);
}

.App {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(8,11,42,1) 47%);

}

.random-generator-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 80px;
  width: 80px;
  border-radius: 50%!important;
  font-size: 35px!important;
  background-color: #ba1e91!important;
  box-shadow: rgb(240 46 170 / 40%) 5px 5px, rgb(240 46 170 / 30%) 10px 10px, rgb(240 46 170 / 20%) 15px 15px, rgb(240 46 170 / 10%) 20px 20px, rgb(240 46 170 / 5%) 25px 25px;
  border: none!important;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
